*{
text-align: center;
 /* margin: 0; */
padding: 0;
}

body{
    background-repeat: no-repeat;
    background-size: 1400px 650px;
    font-size: 18px;
    height: 100vh;
    width: auto;
}

.main{
    display:flex;
    flex-direction: column;
    align-items: center;
  justify-content: center
}


h1{
    margin-top: 40px;
    color: rgb(252, 40, 2);
    font-size: 5rem;
    font-family: 'Fredericka the Great', cursive;
    background: rgb(0, 86, 214);
}

div.image{
    display: flex;
    flex-direction: column;
    background-image: url(trumptweet.jpg);
    height: 200px;
    width: 590px;
}

p{
    display: flex;
    margin-top: 80px;
}

button{
    /* margin-top: 50px; */
    padding-top: 10px;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    border-color: black 5px solid;
    background-color: white;
    color: black;
}