*{
text-align: center;
margin: 0;
padding: 0;
}

body{
    background-repeat: no-repeat;
    background-size: 1400px 650px;
    font-size: 18px;
}

h1{
    margin-top: 40px;
    color: rgb(252, 40, 2);
    font-size: 5rem;
    font-family: 'Fredericka the Great', cursive;
    background: rgb(0, 86, 214);
}

div.image{
    background-image: url(trumptweet.jpg);
    margin-top: 100px;
    margin-left: 200px;
    height: 200px;
    margin-right: 500px;
    position: absolute;
}

p{
    display: flex;
    margin-top: 80px;
}

button{
    margin-top: 50px;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    border-color: black 5px solid;
    background-color: white;
    color: black;
}